{% extends "admin/change_form.html" %}
{% load custom_filters %}
{% load i18n admin_urls %}


{% comment %} 
    If this is an RFIDkeycard inline/popup (http://localhost:8080/lockadmin/djock_app/rfidkeycard/add/?_popup=1), insert some extra temporary text 
{% endcomment %} 
{% block object-tools %}

    {% comment %} {% if request.path == "/lockadmin/djock_app/rfidkeycard/add/" and request.META.QUERY_STRING == "_popup=1"  %} {% endcomment %} 
    {% if request.path == "/lockadmin/djock_app/rfidkeycard/add/"  %}
            <center>
            <h2>Go scan in a new card........</h2>
            <h5>..................... waiting .....................</h3>
            <h5>(Be the Arduino and go to</h5>
            <p>http://192.168.x.x:8080/checkdoor/doorid/checkrfid/rfid/ (if ran ./manage.py runserver 192.168.x.x:8080)</p>
            <h5> OK, got it. Click "Save" to finish creating new keycard.</h5>
            </center>
        {% if is_popup %}   {% comment %} should indicate that we're adding a new keycard to an EXISTING lockuser/ got here from lockuser change page {% endcomment %}
                <h1>!!!!!!</h1>
                {{ object_id }}
                <h1>!!!!!!</h1>
                <h1>Here's original object's id: 
                <p> {{ request.META.HTTP_REFERER|get_original_id }}
                </h1>
                <hr> <h1> so we'd need, instead of the whole form-row field-lockuser (have to go back into
                fieldset? ).......  if yeah... can I get object_id there??????
                
                </h1>
{% comment %} 
                <div>
                        <label for="id_lockuser" class="required">Lockuser:</label>
                            <select name="lockuser" id="id_lockuser">
<option value="{{ request.META.HTTP_REFERER|get_original_id }}" selected="selected">{{ request.META.HTTP_REFERER|get_original_id }}</option>
</select>
                </div>
{% endcomment %} 
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>

        {% endif %}

    {% endif %} {% comment %} end nk for this block {% endcomment %}
    {% if change %}{% if not is_popup %}
        <ul class="object-tools">
            {% block object-tools-items %} {{block.super}} {% endblock %}
        </ul>
    {% endif %}{% endif %}
{% endblock %} {% comment %}  end object-tools block  {% endcomment %}







{% comment %}  submit row block {% endcomment %}
{% block submit_buttons_bottom %}
    {% comment %} (start nk stuff)  This is the place for the "assign new keycard"/"deactivate current keycard" controls, if this is the LockUser change form {% endcomment %}

        {% comment %} Check:  that we're modifying a model, rather than creating it (so not model/add/ but model/object_id); also check if we're dealing with LockUser  {% endcomment %}
        {% if change and original|get_object_type == "LockUser" %}<br>
                    
        <div class="submit-row"> 
                {% comment %} using STATIC_URL for *my* static/ files; otherwise it's Django admin's originals {% endcomment %}
                 {% if  not object_id|is_lockuser_active and not object_id|does_lockuser_have_active_keycard %} 
                        <a href="/lockadmin/djock_app/rfidkeycard/add/" class="add-another" id="add_id_rfids_40" onclick="return showAddAnotherPopup(this);">
                        <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/> Assign keycard and activate user 
                    </a>
                    <img src="{{ STATIC_URL }}/admin/img/disabled_icon_deletelink.gif " width="10" height="10" readonly>Deactivate current keycard

                 {% elif  object_id|is_lockuser_active and not object_id|does_lockuser_have_active_keycard %}
                    <a href="/lockadmin/djock_app/rfidkeycard/add/" class="add-another" id="add_id_rfids" onclick="return showAddAnotherPopup(this);">
                        <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/> Assign new keycard 
                    </a>
                    <img src="{{ STATIC_URL }}/admin/img/disabled_icon_deletelink.gif" width="10" height="10">Deactivate current keycard

                 {% elif  object_id|is_lockuser_active and object_id|does_lockuser_have_active_keycard %} 
                    <img src="{{ STATIC_URL }}/admin/img/disabled_icon_addlink.gif" width="10" height="10" alt="Add Another"/> Assign new keycard
                    <a href="/deactivate_keycard/"> 
                        <img src="/static/admin/img/icon_deletelink.gif " width="10" height="10"> Deactivate current keycard 
                    </a>
                    {% comment %} Should not happen: 
                 {% if  not object_id|is_lockuser_active and object_id|does_lockuser_have_active_keycard %} 
                 {% endcomment %}
                 
                 {% endif %}
                    </div> {% comment %} end nk submit-row {% endcomment %}
    {%  endif  %}
    </div> 
     {{ block.super }}
{% endblock %}   {% comment %}  end submit row block {% endcomment %}



{% comment %} overriding this block in order to show the controls for assigning new keycards/deactivating existing ones in the form row {% endcomment %} 

{% comment %}
    {% block field_sets %}
        {% for fieldset in adminform %}
            overriding this block.. unless i can actually get fieldset into the right dir....
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
    {% endblock %}
{% endcomment %}




{% comment %}
;
{% block object-tools %}
{% if change %}{% if not is_popup %}
<div style="text-align:center;">
    <a href="../../fake/" class="btn btn-info btn-large" style="color:white; margin:10px auto ">Fake assign keycard<br>(== scanning a new keycard and getting the number)</a> 
    <a href="" class="btn btn-info btn-large disabled" style="color:white; margin:10px auto ">
    Deactivate keycard
    </a> 
</div>
<ul class="object-tools">
    {% block object-tools-items %} {{block.super}} {% endblock %}
</ul>
{% endif %}{% endif %}
{% endblock %}

{% endcomment %}



{% comment %}
MORE OR LESS DEPRECATED BRAINVOMIT:

The best thing would be to override the block with the save, etc. buttons at the bottom... But, that's harder than it sounds (solutions involve hacky stuff with javascript!).  Or that's what people on the internet think.  But here's what you can do, I think: submit_row is a template tag.  Look at the code for that, and create your own custom template tag that's similar but includes the extra behavior. 
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}


{% block submit_buttons_bottom %}
Or move in here? 
     {{block.super}}
{% endblock %}
{% endcomment %}
