{% extends "admin/change_form.html" %}
{% load custom_filters %}
{% load i18n admin_urls %}


{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/></script>

    <!-- local version of the above --> 
    <!-- <script type="text/javascript" src="/static/admin/js/jquery-1.9.1.min.js"></script> -->


    <!-- <script> alert("Done button" + $("#done_button")); </script>  --> 
    <script> 

    $(function() {
        var start_get_rfid = function() {
           $.getJSON("/start_scan/", function(result) {
                message_div = document.getElementById("keycard_assignment_scan_message"); 
                if (result.success == true) {
                    // NewKeycardScan object should be initiated and saved now
                    message_div.innerHTML = "OK, ready to read keycard."; 
                    new_scan_pk = result.new_scan_pk; 
                    message_div.innerHTML += "the pk of OUR new_scan obj is "+new_scan_pk; 

                } else {
                    message_div.innerHTML = "Error - try again (NewKeycardScan object not initiated/saved [?] ) ";             }
            });
        };

        var done_get_rfid = function() {
            message_div = document.getElementById("keycard_assignment_scan_message"); 
           $.getJSON("/done_scan/"+new_scan_pk+"/", function(result) {
                if (result.success == true) {
                   // todo:  double check id (id comes from field.field }}
                   $("#id_rfidkeycard_set-0-the_rfid").val(result.rfid); 
                    message_div.innerHTML = "Success! Save to complete keycard assignment. ("+result.rfid+")"; 

                } else {
                    //message_div.innerHTML = "Didn't read new keycard... Try again."; 
                    message_div.innerHTML = "ERROR (" + result.error_mess + ") Hit Save to save lock user without assigning keycard or try again."; 
                  //setTimeout(done_get_rfid, 250); // wait 250 sec before trying done_get_rfid again
                }
            });
        };


        $("#start_button").bind("click", function(e) {
            e.preventDefault();
            start_get_rfid();
        });

        $("#done_button").bind("click", function(e) {
            e.preventDefault();
            done_get_rfid();
        });

        $("#cancel_add_keycard_and_activate_user_button").bind("click", function(e) {
            e.preventDefault();
            new_keycard_div = document.getElementById("assign_new_keycard_buttons_and_instructions"); 
            new_keycard_div.style.display="none"; 
            // todo: do anything else to cancel? 
        });

        // don't show the keycard assignment instructions/buttons by default, but only when user clicks on 'assign new keycard'
        $("#add_keycard_and_activate_user_button").bind("click", function(e) {
            e.preventDefault();
            new_keycard_div = document.getElementById("assign_new_keycard_buttons_and_instructions"); 
            new_keycard_div.style.display="inline"; 
        });
      

        $("#id_deactivated").bind("click",function(e) {  
            var deactivate_lockuser = document.getElementById('id_deactivated'); 
            var deactivate_keycard= document.getElementById('id_deactivate_current_keycard'); 
            if (deactivate_lockuser.checked) {
                deactivate_keycard.checked = true;
            }
            else {
                deactivate_keycard.checked = false;
            }
        }); 

        $("#id_deactivate_current_keycard").bind("click",function(e) {   
            var deactivate_lockuser = document.getElementById('id_deactivated')
            var deactivate_keycard= document.getElementById('id_deactivate_current_keycard')
            if (deactivate_keycard.checked) {
                deactivate_lockuser.checked = true;
            }
            else {
                deactivate_lockuser.checked = false;
        //  how to have this just call same exact thing as above?
            }
        }); 
    });
    </script>
{% endblock extrahead %}
    
    {% comment %} 
    If this is an RFIDkeycard inline/popup (http://localhost:8080/lockadmin/djock_app/rfidkeycard/add/?_popup=1), insert some extra temporary text 
{% block object-tools %}

    {% comment %} {% if request.path == "/lockadmin/djock_app/rfidkeycard/add/" and request.META.QUERY_STRING == "_popup=1"  %} {% endcomment %} 

        {% comment %} should indicate that we're adding a new keycard to an EXISTING lockuser/ got here from lockuser change page {% endcomment %}
    {% comment %} 
        {% if is_popup %}   
            <h1>!!!!!!</h1>
            {{ object_id }}
            <h1>!!!!!!</h1>
            <h1>Here's original object's id: 
            <p> {{ request.META.HTTP_REFERER|get_original_id }}
            </h1>
            <hr> <h1> so we'd need, instead of the whole form-row field-lockuser (have to go back into
            fieldset? ).......  if yeah... can I get object_id there??????
            
            </h1>
            <div>
                    <label for="id_lockuser" class="required">Lockuser:</label>
                        <select name="lockuser" id="id_lockuser">
<option value="{{ request.META.HTTP_REFERER|get_original_id }}" selected="selected">{{ request.META.HTTP_REFERER|get_original_id }}</option>
</select>
            </div>

        {% endif %}

    {% endif %} {% comment %} end nk for this block { endcomment }
    {% if change %}{% if not is_popup %}
        <ul class="object-tools">
            {% block object-tools-items %} {{block.super}} {% endblock %}
        </ul>
    {% endif %}{% endif %}
{% endblock %} {% comment %}  end object-tools block { endcomment }
    {% endcomment %} 


{% comment %}  Overriding inline form for RFIDkeycard on LockUser's change_form {% endcomment %}
{% comment %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    <!-- 
        admin/edit_inline/tabular.html  or admin/edit_inline/stacked.html. 
        So, since I need similar behavior to that of my fieldset.html (for keycard activation) , 
        going to create a modified template based on tabular.html. 
        UPDATE: nope, no more inline form.
        --> 
    {% include "admin/edit_inline/tabular_with_rfidkeycard_special.html" %}
{% endfor %}
{% endblock %}
{% endcomment %}






{% comment %}  submit row block {% endcomment %}
{% block submit_buttons_bottom %}
{% comment %} If this is the RFIDkeycard's change_form, show the deactivate-keycard link {%endcomment%}
{% if change and original|get_object_type == "RFIDkeycard" %}<br>
            <a href="/deactivate_keycard/{{object_id}}"> 
                <img src="/static/admin/img/icon_deletelink.gif " width="10" height="10">
                Deactivate current keycard 
            </a>
    
    
    {% comment %} (start nk stuff)  This is the place for the "assign new keycard"/"deactivate current keycard" controls, if this is the LockUser change form {% endcomment %}




{% comment %} testing hiding elements with javascript {% endcomment %}

        {% comment %} Check:  that we're modifying a model, rather than creating it (so not model/add/ but model/object_id); also check if we're dealing with LockUser  {% endcomment %}
{% elif change and original|get_object_type == "LockUser" %}<br>
                
    <div class="submit-row"> 
        {% comment %} using STATIC_URL for *my* static/ files; otherwise it's Django admin's originals {% endcomment %}
         {% if  not object_id|is_lockuser_active and not object_id|does_lockuser_have_active_keycard %} 
            <input type="button" id="add_keycard_and_activate_user_button" value="Assign new keycard and activate user" />

         {% elif  object_id|is_lockuser_active and not object_id|does_lockuser_have_active_keycard %}
            <input type="button" id="add_keycard_and_activate_user_button" value="Assign new keycard" />

        {% comment %} No, don't show anything in this case: 
         {% elif  object_id|is_lockuser_active and object_id|does_lockuser_have_active_keycard %} 
            <img src="{{ STATIC_URL }}/admin/img/disabled_icon_addlink.gif" width="10" height="10" alt="Add Another"/> 
            Assign new keycard
            {% endcomment %}

            {% comment %} Should not happen (LockUser can't be inactive but have an active keycard
         {% if  not object_id|is_lockuser_active and object_id|does_lockuser_have_active_keycard %} 
         {% endcomment %}
    {%  endif  %}

        {% comment %} If creating the current object rather than modifying (so model/add/, not  model/object_id); also check if we're dealing with LockUser  {% endcomment %}

        {% comment %} Don't have "original" in add_view, so verify that we're dealing with the right object with opts.module_name {% endcomment %}
{% elif not change and opts.module_name == "lockuser" %}<br>
            <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/>
            <input type="button" id="add_keycard_and_activate_user_button" value="Assign new keycard and activate user" />
            <img src="{{ STATIC_URL }}/admin/img/disabled_icon_deletelink.gif " width="10" height="10" readonly>
            Deactivate current keycard
    {%  endif  %}

    <div id="assign_new_keycard" style="border:2px solid green;font-color:green;text-align:center; color:green;">
        <div id="assign_new_keycard_buttons_and_instructions" style="display:none">

        Click "Scan new card," then scan the keycard<br> to be assigned at (any) door lock.<br> (Note: will time out after 2 minutes.)<br> <input type="button" id="start_button" value="Scan new card"><br><br> {% comment %} <button><a href="/start_scan/{{object_id}}">Scan new card</a></button><br><br> {% endcomment %} <i>(I.e.  (Be the Arduino and go to<br> http://192.168.x.x:port_num/checkdoor/doorid/checkrfid/rfid/<br> (if ran ./manage.py runserver 192.168.x.x:port_num))</i><br><br> Click "Done" when you are finished scanning.<br> <input type="button" id="done_button" value="Done"><br><br> <i>After "Done," the new keycard should be available....  For staff users, the indications that a keycard is assigned: can now deactivate current keycard; ______</i><br><br> <input type="button" id="cancel_add_keycard_and_activate_user_button" value="Cancel" />'; 
            <div id="keycard_assignment_scan_message" style="color:red; font-size:15px;">
                (div for scan message)
            </div>
        </div>
    </div>

     {{ block.super }}
{% endblock %}   {% comment %}  end submit row block {% endcomment %}



{% comment %} overriding this block in order to show the controls for assigning new keycards/deactivating existing ones in the form row {% endcomment %} 

{% comment %}
    {% block field_sets %}
        {% for fieldset in adminform %}
            overriding this block.. unless i can actually get fieldset into the right dir....
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
    {% endblock %}
{% endcomment %}




{% comment %}
;
{% block object-tools %}
{% if change %}{% if not is_popup %}
<div style="text-align:center;">
    <a href="../../fake/" class="btn btn-info btn-large" style="color:white; margin:10px auto ">Fake assign keycard<br>(== scanning a new keycard and getting the number)</a> 
    <a href="" class="btn btn-info btn-large disabled" style="color:white; margin:10px auto ">
    Deactivate keycard
    </a> 
</div>
<ul class="object-tools">
    {% block object-tools-items %} {{block.super}} {% endblock %}
</ul>
{% endif %}{% endif %}
{% endblock %}

{% endcomment %}



{% comment %}
MORE OR LESS DEPRECATED BRAINVOMIT:

The best thing would be to override the block with the save, etc. buttons at the bottom... But, that's harder than it sounds (solutions involve hacky stuff with javascript!).  Or that's what people on the internet think.  But here's what you can do, I think: submit_row is a template tag.  Look at the code for that, and create your own custom template tag that's similar but includes the extra behavior. 
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}


{% block submit_buttons_bottom %}
Or move in here? 
     {{block.super}}
{% endblock %}
{% endcomment %}
