<html>
<head>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/></script>
<!-- local version of the above --> 
<!-- <script type="text/javascript" src="/static/admin/js/jquery-1.9.1.min.js"></script> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script> -->
<!-- <script src="{{ MEDIA_URL }}highcharts/js/highcharts.js" type="text/javascript"></script> -->
<script type="text/javascript" src="/static/Highcharts-3.0.0/js/highcharts.js"></script>

{% load chartit %}
{{ weatherchart|load_charts:"weather_chart" }}
</head>
<body>
<div id="weather_chart"> blah</div>
</body>
</html>
