{% load admin_static %}
{% load url from future %}<!DOCTYPE html>


{% load bootstrap_toolkit %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css" />

{% comment %} 
disabling the bootstrap dropdown library because of javascript exceptions on some change form pages:
"Uncaught TypeError: Cannot read property 'fn' of undefined"
{% bootstrap_javascript_tag "dropdown" %}
{% endcomment %}






{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" style="margin:0 auto;">
<div style="margin-left: auto; margin-right:auto; ">
<!-- Container -->
<div id="container" > 

    {% if not is_popup %}
    <!-- Header -->
    <div align="center" class="masthead" style="margin-top:20px; padding:10px;text-align:center;width:500px; ">
    {% comment %}
    <div id="header">
    {% endcomment %}
        
        <div align="center" class="navbar" style="text-align:center; margin:0 auto; ">
          <div class="navbar-inner" style="">


       {% if user.is_active and user.is_staff %} {% comment %} todo:  is_staff?  {% endcomment %}
        <div id="user-tools" style="font-size:14px; padding:0; position:relative;text-align:left;  " >
            {% trans 'Welcome,' %}
            <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}

        </div>


        {% endif %}


          {% comment %}
         <h1><a href='/lock/' id='header_link' class="brand">{% trans 'RFID Lock Administration' %}</a></h1>
          {% endcomment %}
          {% comment %}
        {% block branding %} {% endblock %}
          {% endcomment %}
         <h1><a href='/lock/' class="brand" style="padding:0px;margin:0px;
         font-size:30px;float:center;font-size:40px;font-weight:bold; color:rgba(0, 0, 0, 0.7)  ">{% trans 'RFID Lock Administration' %}</a></h1>
        <a href='/lock/'>main</a> |
        <a href='/lockadmin/djock_app/lockuser/'>lock users</a> |
        <a href='/lockadmin/djock_app/door/'>door locks</a> |
        <a href='/lockadmin/djock_app/accesstime/'>access logs</a> |
        <a href='/lockadmin/auth/user/'>staff users</a>
                                          </div>
                                          </div>
        {% block nav-global %}{% endblock %}

    </div>
    <!-- END Header/masthead -->
 

    <div style="border:1px dashed gray;width:500px; margin-left:20px; padding:10px;  ">

        <div style="float: left; border:1px dotted blue;width:50%">
            <p>Here are all available djock_app perms for {{user}}: {{perms.djock_app}}</p>
        </div>
        <div style="float:right; border:1px dotted green;width:49%">
            <p> (The min perms a non-superuser staff user should have: 
            <ul>
                <li> lockuser: add, change</li>
                <li> doors: *view* doors only (i.e. change, but can't *edit* anything on change form... right?)  </li>
                <li> manage zero doors</li>
                <li> *staff* users: only change own info
                <li> access times: *view* only (i.e. change, but can't *edit* anything on change form... right?)  </li>
            </ul>
            </p>
            <p> (The max perms a non-superuser staff user can have, in addition to above: 
            <ul>
                <li> doors: add, change</li>
                <li> manage all  doors</li>
                <li> *staff* users: add, change others (except can't change superuser!!!!) </li>
            </ul>
            </p>
        </div>
        <div style="clear:both;"></div>
    </div>







        {% comment %} No breadcrumbs please
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endcomment %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">

        {% block pretitle %}{% endblock %}

        {% comment %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% endcomment %}
        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</div>
</body>
</html>
