{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'RFID Lock Administration' %}{% endblock %}


{% block extrastyle %}
<style>
#content-main { 
    width:100%;  
}
#header_link, .a:hover
{
    color: #0044cc;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25) !important; 
    font-size:50px; 
    text-decoration: none; 
}

/* The select box is way too small (can't see the full text of the permission in User change_form), so overriding this in widgets.css */
.selector select#id_user_permissions_to.filtered, #id_user_permissions_from.filtered {
    width: 450px ;  /* changing from 270 px */
}
.selector-available, .selector-chosen {
    width: 450px !important;  /* changing from 270 px */
}
.selector {
    width: 940px !important;  /* changing from 580 px */
}
</style>
{% endblock %}

{% comment %}   No breadcrumbs pls, so put empty block here {% endcomment %}
{% block breadcrumbs %}{% endblock %}
{% block branding %}

    {% comment %}
    <h1 id="site-name"><a href='/lock/' id='header_link'>{% trans 'RFID Lock Administration' %}</a></h1>
    {% endcomment %}
    <div>
        <h1><a href='/lockadmin/' id='header_link'>{% trans 'RFID Lock Administration' %}</a></h1>
    </div>
{% endblock %}


{% block nav-global %}
    {% comment %}
<!--  {% if user.is_staff %} -->
   <a href="/lockadmin/rfid_lock_management/lockuser/add/" class="ml">Assign new keycard</a>
   <p class="ml">|</p>
   <a href="/lockadmin/rfid_lock_management/accesstime/" class="ml">Room access log</a> <p class="ml">|</p>
    <a href="/lockadmin/rfid_lock_management/lockuser/" class="ml">View/Manage lock users</a> <p class="ml">|</p>
    <a href="/lockadmin/auth/user/add/" class="ml">Add STAFF users</a> <p class="ml">|</p>
   <a href="/lockadmin/auth/user/" class="ml">Manage STAFF users</a> <p class="ml">
    {% endcomment %}
    {% comment %}
    <a href="/lockadmin/rfid_lock_management/lockuser/?is_active__exact=0" class="ml">Inactive LockUsers</a>
    <p class="ml">|</p>
    Link above is a "deep link" to a filter model for not yet/no longer activated lock users.
    (Note -- I'd like non-superuser staff to NOT have the ability to delete models -- 
    but rather to DEACTIVATE.  So to-do: is_active flag for LockUser model. 
    {% endcomment %}
    {% comment %}
 <!--           {% endif %} -->
    {% endcomment %}
{% endblock %}


