{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"
          xmlns="http://www.w3.org/1999/html"/>{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% comment %}
No breadcrumbs, please
{% block breadcrumbs %}{% endblock %}
{% endcomment %}

{% block content %}


    <div id="content-main" >


    {% if app_list %}



        <table>
            <tr>
                <td>
                    <div class="module2" style="background-color:#ff6766;">
                        <a href="/lockadmin/djock_app/lockuser/"><h1>Lock users</h1></a>
                        <p>View and manage lock users</p>
                    </div>
                </td>
                <td>
                    <div class="module2" style="background-color:#ff6766;">
                        <a href="/lockadmin/djock_app/lockuser/add/"><h1>Assign new keycard</h1></a>
                        <p>to new person</p>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <div class="module2" style="background-color:#ff9900 ;" >
                        <a href="/lockadmin/djock_app/accesstime/" ><h1>Room access log</h1></a>
                        <p>View who came in and at what time; search by date</p>
                    </div>
                </td>
            </tr>
        </table>
       <table>
        <tr>
            <td>
                <div class="module2" >
                    <a href="/lockadmin/auth/user/"><h1>Staff users</h1></a>
                    <p>View and manage staff users</p>
                </div>
            </td>
            <td>
                <div class="module2" >
                    <a href="/lockadmin/auth/user/add/" ><h1>Add new staff user</h1></a>
                    <p>Add people who can manage lock users</p>
                </div>
            </td>

    </table>






{%  comment %}

    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption>
        <a href="{{ app.app_url }}" class="section">
<!--        {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
-->        View and manage room access
        </a>
        </caption>

        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row">
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                   <!-- ahem... below: nk -- just don't show the change link for room
                    access log right now -->
                    {% if model.name == 'Access times' %} (room access log) {% endif %}
                </th>
            {% else %}
                <th scope="row">asdlkfjsa{{ model.name }} </th>
            {% endif %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>

            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <!-- ahem... below: nk -- just don't show the change link for room
                access log right now-->
                {% if model.name != 'Access times' %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
                {% endif %}
                </td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% endcomment %}


{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}


{% comment %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
{% endcomment %}

