{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
 {% comment %}   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css" /> {% endcomment %}
{% endblock %}
{% comment %} {% block coltype %}colMS{% endblock %} {% endcomment %}
{% block bodyclass %}dashboard{% endblock %}
{% comment %} {% block breadcrumbs %}{% endblock %} {% endcomment %}

{% block content %}
    <div id="content-main">
    {% comment %} todo - if app_list........ 
    {% if app_list %}  
    {% endcomment %}

{% comment %}
<div class="container">
    <div class="hero-unit">
        <h1>Heading</h1>
        <p>Tagline</p>
        <p>
            <a class="btn btn-primary btn-large">
                Learn more
            </a>
        </p>
    </div>
</div>
{% endcomment %}

<div class="container">
      <div class="row">
        <!-- <div class="span4"> -->
        <div>
          <div id="special_well" class="well">
            <h3>View who came in and at what time; search by date/user/door; view graphs</h3>
            <a href="/lockadmin/djock_app/accesstime/" class="btn btn-danger btn-large">Room access log</a>
          </div>
        </div>
        <!-- <div class="span4"> -->
        <div>
          <div id="special_well" class="well">
            <h3>View and manage (set status, assign doors, e-mail all...)  existing lock users and their space access.</h3>
            <a href="/lockadmin/djock_app/lockuser/" class="btn btn-info btn-large">Lock users</a>
          </div>
        </div>
        <!-- <div class="span4"> -->
        <div>
          <div id="special_well" class="well">
            <h3>Add new lock user and assign new keycard</h3>
            <a href="/lockadmin/djock_app/lockuser/add" class="btn btn-success btn-large">New user</a>
          </div>
        </div>
      </div>
    </div>



{% comment %}
todo:  see 'if' above
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>

{% endif %}
{% endcomment %}

</div>
{% endblock %}
