{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
 {% comment %}   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css" /> {% endcomment %}
{% endblock %}
{% comment %} {% block coltype %}colMS{% endblock %} {% endcomment %}
{% block bodyclass %}dashboard{% endblock %}
{% comment %} {% block breadcrumbs %}{% endblock %} {% endcomment %}

{% block content %}
    <div id="content-main">
    {% comment %} todo - if app_list........ 
    {% if app_list %}  
    {% endcomment %}

{% comment %}
<div class="container">
    <div class="hero-unit">
        <h1>Heading</h1>
        <p>Tagline</p>
        <p>
            <a class="btn btn-primary btn-large">
                Learn more
            </a>
        </p>
    </div>
</div>
{% endcomment %}

<div class="container">
      <div class="row">
        <!-- <div class="span4"> -->
        <!--
        <div>
        --> 
        <div class="span3">
          <div id="special_well" class="well">
            <h1 style="height:100px;">Room Access Log</h1>
            <p>&nbsp; </p>
            <a href="/lockadmin/rfid_lock_management/accesstime/" class="btn btn-info btn-large nice_button" id="room_access_log_button">
               <h3>Log</h3>
           </a>
            <p>&nbsp; </p>
            <h4 style="line-height:1.3em; height:100px; ">View who came in where and at what time; <br />filter on date/user/door </h4>
          </div>
          </div>
        <!--
        </div>
        --> 



        <!-- <div class="span4"> -->
        <!--
        <div>
          <div id="special_well" class="well">
          </div>
        </div>
        --> 
        <!-- <div class="span4"> -->

        <!--
        <div>
        --> 
        <div class="span3">
          <div id="special_well" class="well">
            <h1 style="height:100px;">Lock Users</h1>
            <p>&nbsp; </p>
            <a href="/lockadmin/rfid_lock_management/lockuser/" class="btn btn-success btn-large nice_button"  id="lock_user_button">
                <h3>Lock users</h3>
                </a>
            <p>&nbsp; </p>
            <h4 style="line-height:1.3em;height:100px;">View and manage existing lock users and their space access</h4>
          </div>
          </div>
        <!--
        </div>
        --> 
        <!--
      </div>

    </div>


  <div class="row">
        --> 

    <div class="span3">
          <div id="special_well" class="well">
                <h1 style="height:100px;">Room Access Graph</h1>
            <p>&nbsp; </p>
                <a href="/chart/" class="btn btn-info btn-large nice_button" id="room_access_log_button">
                   <h3>Graph</h3>
               </a>
                <p>&nbsp; </p>
                <h4 style="line-height:1.3em;height:100px;">Compare visitors across doors; view access time trends</h4>
          </div>
    </div>
    <div class="span3">
          <div id="special_well" class="well">
                <h1 style="height:100px;">Add Lock User</h1>
            <p>&nbsp; </p>
                <a href="/lockadmin/rfid_lock_management/lockuser/add" class="btn btn-success btn-large nice_button" id="new_user_button">
                    <h3>New user</h3>
                </a>
                <p>&nbsp; </p>
                <h4 style="line-height:1.3em;height:100px;">Add new lock user and assign new keycard
                </h4>
          </div>
      </div>
        <!--
        </div>
        --> 
      </div>
    </div>



{% comment %}
todo:  see 'if' above
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>

{% endif %}
{% endcomment %}

</div>
{% endblock %}
