{% load custom_filters %}

<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>


        {% comment %}  To do -- even superuser won't have ability to edit RFIDkeycards, so get rid of this, yes? {% endcomment %}
            {% comment %}nk  If this is an RFIDkeycard popup (indicating that we're adding a new keycard to an EXISTING lockuser/ got here from lockuser change page -- so
            we don't want the circular confusion of having the lockusers field show up there {% endcomment %}


            {% if field.field.name == "lockuser" and is_popup %}
                <select name="lockuser" id="id_lockuser" style="display:none;">   {% comment %}  display:none because want this hidden {% endcomment %}
                    <option value="{{ request.META.HTTP_REFERER|get_original_id }}" selected="selected">{{ request.META.HTTP_REFERER|get_original_id }}</option>
                </select>


            {% else %} {% comment %} end nk RFIDkeycard thing {% endcomment %}
                
                {% comment %} nk - if this is the Doors row, we need to display some extra info {% endcomment %}                {% if field.field.name == "doors" %}
                    <div id="door_keycard_deactivation_warning" style="color:red;"> </div>
                    <div id="other_doors"> 
                        {% if doors_not_permitted_to_this_staff_user %} Note: this lockuser also has permission to access the following door(s), that you, the staff user, do not have permission to manage: {% endif %}
                       {% for another_door in doors_not_permitted_to_this_staff_user %}
                            {% if  another_door.lockuser_set.all  %}
                                {{ another_door }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}{% comment %} end nk Doors thing {% endcomment %}


                {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                {% if field.is_checkbox %}
                    {{ field.field }}{{ field.label_tag }}
                {% else %}
                    {{ field.label_tag }}
                    {% if field.is_readonly %}
                        <p>{{ field.contents }}</p>
                    {% else %}
                        {{ field.field }}
                    {% endif %}
                {% endif %}
                {% if field.field.help_text %}
                    <p class="help">{{ field.field.help_text|safe }}</p>
                {% endif %}


            {% endif %} 



                </div>
                {% endfor %}
        </div>  <!-- end form-row -->

    {% endfor %}
</fieldset>
