{% extends "admin/change_list.html" %}
{% load custom_filters %}

{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}


{% block title %}
    {% if module_name == 'access times' %}
        {% trans 'Room access log | RFID Lock Administration' %}
    {% elif module_name == 'lock users' %}
        {% trans 'Manage lock users | RFID Lock Administration' %} 
    {% endif %}
{% endblock title %}



{% block extrastyle %}
{% comment %}
      <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
      {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

      {% endif %}
{% endcomment %}
      {% if cl.formset or action_form %}
        {% url 'admin:jsi18n' as jsi18nurl %}
        <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
      {% endif %}
      {{ media.css }}
      {% if not actions_on_top and not actions_on_bottom %}
        <style>
          #changelist table thead th:first-child {width: inherit}
        </style>
      {% endif %}
{% endblock %}


{% block extrahead %} 
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"    /></script>

    {% comment %} todo.rtfd - #10 {% endcomment %} 
    {% comment %} changing css class names {% endcomment %} 
    <script>
    $(function($) {
        $(document).ready(function($) {
            var table = document.getElementById("result_list"); 
            table.setAttribute("class","table");

            var info_mess = document.getElementsByClassName("messagelist"); 
            info_mess[0].setAttribute("class", "messagelist alert alert-success"); 

        });
    }); 


    </script>

    <style>
    .messagelist { 
        width:60%; 
        margin: 0 auto; 
        margin-bottom:20px; 
        text-align:center; 
        padding-left:5px; 
        padding-right:5px; 
        padding-top:0px; 
        padding-bottom:10px; 
        } 

    li.info {
        padding-top:10px; 
        padding-bottom:0px; 
        }
    </style>

{% endblock extrahead %}



{% comment %}
{% block content %}
    {% if module_name == 'access times' %}
        <div><button id="show_chart_button" name="Show Highchart" />show chart</div>
        <div id="hidden_access_times_chart">hidden!</div>
        <div id="access_times_chart">!!!!!!!!!!  access times chart rendered here</div>
    {% elif  module_name == 'lock users' %} 
        <a href="/lockadmin/rfid_lock_management/lockuser/add/" class="btn"> Add lock user </a> 
    {% endif %}
    {{ block.super }}
{% endblock %}
{% endcomment %}




{% block content %}
  <div id="content-main">


    {% if module_name == 'access times' %}
        {% comment %}
            <div><button id="show_chart_button" name="Show Highchart" />show chart</div>
        {% endcomment %}
        <div><a href="/chart/" id="show_chart_link" class="btn" style="margin:15px;">Scatter plot of access times and visitors &gt;&gt;</a></div>
        {% comment %}
            <div id="hidden_access_times_chart">hidden!</div>
            <div id="access_times_chart">!!!!!!!!!!  access times chart rendered here</div>
        {% endcomment %}
    {% endif %}

    {% block object-tools %}
           {% comment %}
                {% if  module_name == 'lock users' %} 
                    <a href="/lockadmin/rfid_lock_management/lockuser/add/" class="btn pull-right"> Add lock user </a> 
                {% endif %}
           {% endcomment %}
      {% if has_add_permission %}
                {% if  module_name == 'lock users' %} 
                  <div class="pull-right">
                    <a href="/lockadmin/rfid_lock_management/lockuser/add/" class="btn" style="margin:15px;"> Add lock user </a> 
                    </div>
                {% else %}
        <ul class="object-tools">
                  {% block object-tools-items %}
                    <li>
                      <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                      </a>
                    </li>
                  {% endblock %}
            </ul>
                {% endif %}
          {% endif %}
    {% endblock object-tools %}

    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}


      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}



      {% block result_list %}



              {% if action_form and actions_on_top and cl.full_result_count %}
      <div class="well clearfix" >
            <div class="pull-left">
                  {% admin_actions %}
           </div>
           {% comment %}
      {% if has_add_permission %}
          <div class="pull-right">
                {% if  module_name == 'lock users' %} 
                    <a href="/lockadmin/rfid_lock_management/lockuser/add/" class="btn">Add lock user </a> 
                {% endif %}
            </div>
        {% endif %}

           {% endcomment %}
        </div>
              {% endif %}

        <div class="well clearfix">
            <div class="pull-left" id="result_list_left" >
          {% result_list cl %}
          </div>
          <div class="pull-right" id="filter_list_right" >
          {% block filters %}
            {% if cl.has_filters %}
              <div id="changelist-filter">
                <h2>{% trans 'Filter' %}</h2>
                  {% block date_hierarchy %}
                      {% if cl.date_hierarchy %}
                            <h3>By date</h3> 
                           {% date_hierarchy cl %}
                           <h3>search </h3>
{% search_form cl %}
                      {% endif %}
                  {% endblock %}
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
              </div>
            {% endif %}
          {% endblock %}
          </div>
          </div>
        {% comment %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
        {% endcomment %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
